<section id="add" class="container">
    <div class="form-wrap">
      <h1>Add A Wine</h1>
      <p>Add a new wine to your cellar</p>
      {{#each errors}}
      <div class="error">
        <p>ERRORS EVERYWHERE!</p>
      </div>
      {{/each}}
      <form action="/wines/add" method="POST">
        <div class="input-group">
          <label for="wine_name">Name of the wine</label>
          <input type="text" name="wine_name" id="wine_name" class="input-box" placeholder="How else will you know what to get?"
            maxlength="100" value={{wine_name}}>
        </div>
        <div class="input-group">
          <label for="winery">Winery</label>
          <input type="text" name="winery" id="winery" class="input-box" placeholder="Or where you tried it"
          maxlength="100" value={{winery}}>
        </div>
        <div class="input-group">
          <label for="style">Style</label>
          <input type="text" name="style" id="style" class="input-box" placeholder="Pinot Noir, Bordeaux, etc..."
          maxlength="100" value={{style}}>
        </div>
        <div class="input-group">
          <label for="description">Description</label>
          <textarea name="description" id="description" class="input-box" placeholder="Describe the wine"
            rows="10">{{description}}</textarea>
        </div>
        <div class="input-group">
          <label for="rating">Rating</label>
          <input type="text" name="rating" id="rating" class="input-box" placeholder="0-5"
          maxlength="100" value={{style}}>
        </div>
        <div class="form-group consumedBtns">
          <label for="consumed">Is the bottle still full?</label><br>
          <input class = "consumedBtns" type="radio" name="consumed" value="1" checked>I couldn't help myself<br>
          <input class = "consumedBtns" type="radio" name="consumed" value="0"> I'm saving it
        </div>
        <input type="submit" value="Add Wine" class="btn btn-reverse">
      </form>
    </div>
  </section>