<li>
	{{wine_name}}

	<button class="change-consumed" data-id="{{id}}" data-newconsumed="{{consumed}}">
		{{#if consumed}}Get another bottle!{{else}}Drink it!{{/if}}
	</button>

	<button class="delete-wine" data-id="{{this.id}}">DELETE!</button>
</li>